<div class="home">
    <p>
      Efficiency is more than a simple noun to me, and I innately embody energy in my work. I professionally balance autonomy and taking initiative with being an open-minded, willing learner. I truly crave a team and company with which I can share my passion and can appreciate the energy that I bring to work. I love building relationships, and to me, there truly is nothing more satisfying than to successfully complete a project; extra long work hours or being on my feet only adds to the challenge that I crave. In my experience, I have learned that if I can make a Bridezilla happy, I can make anyone happy- and I am eager for the challenge.
    </p>
</div>